<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" />
    <link rel="icon" type="image/svg" sizes="128x128" href="https://bitcorn.co/public/favicon128.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    
    <title>Bitcorn</title>
    <meta name="description" content="Bitcorn description" />
</head>

<body class="overflow-x-hidden">
    <div class="header">

        <img class="absolute cloud-0 cloud-desktop" src="/media/icons/cloud-desktop-left.svg" alt="" />
        <img class="absolute cloud-d1 cloud-desktop" src="/media/icons/cloud-desktop-left.svg" alt="" />
        <img class="absolute cloud-d2 cloud-desktop" src="/media/icons/cloud-desktop-2.svg" alt="" />
        <img class="absolute cloud-d3 cloud-desktop" src="/media/icons/cloud-desktop-2.svg" alt="" />

        <img class="absolute cloud-1 cloud-mobile" src="/media/icons/cloud-1.svg" alt="" />
        <img class="absolute cloud-2 cloud-mobile" src="/media/icons/cloud-2.svg" alt="" />
        <img class="absolute cloud-3 cloud-mobile" src="/media/icons/cloud-3.svg" alt="" />

        <nav class="top-navigation flex gap-3 justify-between items-center mx-auto max-w-[800px] static bg-white p-3 rounded-full">
            <div class="logo gap-3 flex">
                <img src="/public/images/bitcorn.svg" />
                <h2 class="text-brown anton-regular">Bitcorn</h2>
            </div>
            <div class="links">
                <ul class="flex gap-4">
                    <li class="text-brown"><a href="#">Home</a></li>
                    <li class="text-brown"><a href="#">About</a></li>
                    <li class="text-brown"><a href="#">Tokenomics</a></li>
                    <li class="text-brown"><a href="#">Twitter</a></li>
                    <li class="text-brown"><a href="#">Discord</a></li>
                </ul>
            </div>
            <div class="ref">
                <button class="bg-brown text-white px-5 py-2.5 rounded-full">Buy on coin gecko</button>
            </div>
        </nav>

        <div class="middle flex flex-col mt-[25px] items-center">
            <p class="desc text-brown">Stack’s premier memecoin and on-chain casino.</p>
            <div class="middle-logo">
                <h2 class="text-brown anton-regular">BITCORN</h2>
                <img src="/public/images/corn-middle.svg" />
            </div>
            <div class="bottom-links flex gap-5 flex-row items-center">
                <button class="bg-brown text-white flex gap-2 px-5 items-center py-3 rounded-full">
                    <span>Buy on coin gecko</span>
                    <img src="/public/images/right-arrow.svg" />
                </button>
                <div class="flex gap-6">
                    <span class="text-gray">|</span>
                    <a href="#"><img src="/media/icons/discord-header.svg" /></a>
                    <a href="#"><img src="/media/icons/twitter-header.svg" /></a>
                    <a href="#"><img src="/media/icons/telegram-header.svg" /></a>
                </div>
            </div>
        </div>
    </div>
    <section class="tree-seperator">
        <div class="trees w-full"></div>
        <div class="bg-orange container w-full"></div>
    </section>
    <section class="bg-ybrown flex p-10 py-20 pb-[25ex] items-center">
        <p class="anton-regular max-w-[615px] mx-auto center welcome">
            <span class="text-brown">Welcome Starklings!</span> 
            <span class="text-lbrown">We are the meme coin of the Starknet revolution.STARKINU will also be the native coin on our on-chain casino! STARKINU is the cryptographic testament of defiance, a meme-powered subversion</span>
        </p>
    </section>

    <div class="bitcorn-marquee">
        <!-- 1st -->
        <div class="marquee marquee-first marquee--reverse enable-animation bg-lyellow">
            <div class="marquee__content">
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span> 
                    <img src="/media/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span> 
                    <img src="/media/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span> 
                    <img src="/media/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span> 
                    <img src="/media/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span> 
                    <img src="/media/icons/moving-corn.svg" />
                </div>
            </div>
            <div class="marquee__content" aria-hidden="true">
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span> 
                    <img src="/media/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span> 
                    <img src="/media/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span> 
                    <img src="/media/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span> 
                    <img src="/media/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span> 
                    <img src="/media/icons/moving-corn.svg" />
                </div>
            </div>
        </div>

        <!-- 2nd -->
        <div class="marquee enable-animation marquee-2nd bg-brown">
            <div class="marquee__content">
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p> 
                    <img src="/media/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p> 
                    <img src="/media/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p> 
                    <img src="/media/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p> 
                    <img src="/media/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p> 
                    <img src="/media/icons/moving-corn-2.svg" />
                </div>
            </div>
            <div class="marquee__content" aria-hidden="true">
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p> 
                    <img src="/media/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p> 
                    <img src="/media/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p> 
                    <img src="/media/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p> 
                    <img src="/media/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p> 
                    <img src="/media/icons/moving-corn-2.svg" />
                </div>
            </div>
        </div>
    </div>
 

    <section class="social-info bg-lyellow">
        <div class="container max-w-[615px] mx-auto">
            <p class="center text-center">Stack’s premier memecoin and on-chain casino.</p>
            <h2 class="anton-regular heading text-brown mt-5">How to Buy Bitcorn?</h2>
            <div class="note-cards mt-10">
                <div class="note-card anton-regular">
                    <img src="/media/icons/top-arrow.svg" />
                    Create a wallet on Leather.io and buy send stacks using any CEX.
                </div>
                <div class="note-card anton-regular">
                    <img src="/media/icons/top-arrow.svg" />
                    Use this official link from our website/socials to start swapping.
                </div>
                <div class="note-card anton-regular">
                    <img src="/media/icons/top-arrow.svg" />
                    Swap $STX for $BITCORN using the DEX’s on-board routing
                </div>
            </div>
            <div class="social-cards mt-10">
                <p>
                    Join the Farm and stay tuned for all the updates. This is another line of text to be inserted here,Would be great if this text will be atleast 3 lines long ->
                </p>
                <div class="social-icons">
                    <img src="/media/icons/discord.svg" />
                    <img src="/media/icons/stake.svg" />
                    <img src="/media/icons/coingecko.svg" />
                    <img src="/media/icons/telegram.svg" />
                    <img src="/media/icons/x.svg" />
                </div>
            </div>
        </div>
    </section>
    <section class="pool-info bg-darkorange">
        <div class="container max-w-[615px] mx-auto">
            <p class="center text-center">Stack’s premier memecoin and on-chain casino.</p>
            <h2 class="anton-regular heading text-brown mt-5">$CORNOMICS</h2>
        </div>
        <div class="pool-cards mt-10">
            <div class="pool-card">
                <p class="label">Symbol</p>
                <p class="anton-regular value text-brown">$BITCORN</p>
            </div>
            
            <div class="pool-card">
                <p class="label">Liquidity Pool</p>
                <p class="anton-regular value text-brown">75%</p>
            </div>

            <div class="pool-card">
                <p class="label">Supply</p>
                <p class="anton-regular value text-brown">10 Billion</p>
            </div>
        </div>

        <div class="pool-cards mt-3">
            <div class="pool-card">
                <p class="label">Liquidity Pool</p>
                <p class="anton-regular value text-brown">75%</p>
            </div>

            <div class="pool-card">
                <p class="label">Supply</p>
                <p class="anton-regular value text-brown">10 Billion</p>
            </div>

            <div class="pool-card input">
                <div class="btn-ask bg-brown">
                    <span class="text-lyellow">More Questions?</span>
                    <img src="/media/icons/arrow-right-top.svg" />
                </div>
                <p class="anton-regular value text-brown">10 Billion</p>
            </div>
        </div>
    </section>

    <footer class="bg-brown footer">
        <div class="container max-w-[615px] mx-auto">
            <div class="logo flex items-center gap-2">
                <img class="w-[20px]" src="/public/images/bitcorn.svg" />
                <h2 class="text-white text-[20pt] anton-regular">Bitcorn</h2>
            </div>
            <div class="links mt-4 flex flex-col md:flex-row justify-between items-start md:items-center">
                <ul class="flex justify-between items-center gap-8 text-white text-xs">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Tokenomics</a></li>
                    <li><a href="#">How to buy</a></li>
                </ul>
                <div class="flex justify-between mt-5 md:mt-0 md:items-center gap-5">
                    <a href="#"><img class="w-[20px]" src="/media/icons/f_twitter.svg" /></a>
                    <a href="#"><img class="w-[20px]" src="/media/icons/f_telegram.svg" /></a>
                    <a href="#"><img class="w-[20px]" src="/media/icons/f_discord.svg" /></a>
                </div>
            </div>
            <div class="bottom-footer mt-7 flex-col md:flex-row text-sm flex justify-between md:items-center">
                <p class="text-xs">Copyright © 2020. LogoIpsum. All rights reserved.</p>
                <div class="text-xs flex mt-5 md:mt-0 md:justify-between items-center gap-10">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>