<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" />
    <link rel="icon" type="image/svg" sizes="128x128" href="https://bitcorn.co/public/favicon128.svg" />
    <link rel="preload" href="/media/fonts/Satoshi-Variable.woff2" as="font" />

    <title>Bitcorn</title>
    <meta name="description" content="Bitcorn description" />
</head>

<body class="overflow-x-hidden">
    <main class="max-w-6xl mx-auto px-5 lg:px-4">
    </main>
</body>

</html>