<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1" />
    <link rel="icon" type="image/svg" sizes="128x128" href="https://bitcorn.co/public/favicon128.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <title>Bitcorn</title>
    <meta name="description" content="Bitcorn description" />
</head>

<body class="overflow-x-hidden">
    <div id="menu-modal" class="dnone bg-lyellow">
        <div class="flex justify-between p-3 items-center">
            <div class="logo gap-3 flex">
                <img src="/public/images/bitcorn.svg" />
                <h2 class="text-brown anton-regular">Bitcorn</h2>
            </div>
            <div class="hand" id="menu-close-btn">
                <img src="/public/icons/close.svg" />
            </div>
        </div>

        <div class="links">
            <ul class="flex gap-4">
                <li class="text-brown anton-regular"><a href="#">Home</a></li>
                <li class="text-brown anton-regular"><a href="#">About</a></li>
                <li class="text-brown anton-regular"><a href="#">Tokenomics</a></li>
                <li class="text-brown anton-regular"><a href="#">Twitter</a></li>
                <li class="text-brown anton-regular"><a href="#">Discord</a></li>
            </ul>

            <div class="ref">
                <button class="bg-brown text-white px-5 py-2.5 rounded-full">Buy on coin gecko</button>
            </div>
        </div>
    </div>
    <div class="header">

        <img class="absolute cloud-h cloud-0 cloud-desktop drag" src="/public/icons/cloud-desktop-left.svg" alt="" />
        <img class="absolute cloud-h cloud-d1 cloud-desktop" src="/public/icons/cloud-desktop-left.svg" alt="" />
        <img class="absolute cloud-v cloud-d2 cloud-desktop" src="/public/icons/cloud-desktop-2.svg" alt="" />
        <img class="absolute cloud-v cloud-d3 cloud-desktop" src="/public/icons/cloud-desktop-2.svg" alt="" />

        <img class="absolute cloud-h cloud-1 cloud-mobile" src="/public/icons/cloud-1.svg" alt="" />
        <img class="absolute cloud-h cloud-2 cloud-mobile" src="/public/icons/cloud-2.svg" alt="" />
        <img class="absolute cloud-v cloud-3 cloud-mobile" src="/public/icons/cloud-3.svg" alt="" />

        <nav class="top-navigation flex gap-3 justify-between items-center mx-auto max-w-[800px] static bg-white p-2 md:p-3 rounded-full">
            <div class="logo gap-3 flex">
                <img src="/public/images/bitcorn.svg" />
                <h2 class="text-brown anton-regular">Bitcorn</h2>
            </div>
            <div class="links">
                <ul class="flex gap-4">
                    <li class="text-brown"><a href="#">Home</a></li>
                    <li class="text-brown"><a href="#">About</a></li>
                    <li class="text-brown"><a href="#">Tokenomics</a></li>
                    <li class="text-brown"><a href="#">Twitter</a></li>
                    <li class="text-brown"><a href="#">Discord</a></li>
                </ul>
            </div>
            <div class="menu hand" id="menu-btn">
                <img src="/public/icons/menu.svg" />
            </div>

            <div class="ref">
                <button class="menu-coingecko px-5 py-2.5 rounded-full">
                    <span>Buy on coin gecko</span>
                    <div class="icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="23.9967" height="24" rx="11.9983" fill="#7A2714"/>
                            <path d="M15.9467 11.7463C15.9149 11.6645 15.8674 11.5898 15.8067 11.5265L12.4733 8.1959C12.4112 8.13379 12.3374 8.08453 12.2562 8.05091C12.175 8.0173 12.0879 8 12 8C11.8225 8 11.6522 8.07047 11.5267 8.1959C11.4645 8.25801 11.4152 8.33174 11.3816 8.41289C11.3479 8.49404 11.3306 8.58101 11.3306 8.66884C11.3306 8.84623 11.4011 9.01635 11.5267 9.14179L13.7267 11.3333H8.66667C8.48986 11.3333 8.32029 11.4035 8.19526 11.5284C8.07024 11.6533 8 11.8228 8 11.9994C8 12.1761 8.07024 12.3455 8.19526 12.4704C8.32029 12.5954 8.48986 12.6655 8.66667 12.6655H13.7267L11.5267 14.8571C11.4642 14.919 11.4146 14.9927 11.3807 15.0738C11.3469 15.155 11.3295 15.2421 11.3295 15.33C11.3295 15.418 11.3469 15.505 11.3807 15.5862C11.4146 15.6674 11.4642 15.741 11.5267 15.803C11.5886 15.8654 11.6624 15.915 11.7436 15.9488C11.8249 15.9826 11.912 16 12 16C12.088 16 12.1751 15.9826 12.2564 15.9488C12.3376 15.915 12.4114 15.8654 12.4733 15.803L15.8067 12.4724C15.8674 12.409 15.9149 12.3343 15.9467 12.2526C16.0133 12.0904 16.0133 11.9085 15.9467 11.7463Z" fill="white"/>
                        </svg>
                    </div>
                </button>
            </div>
        </nav>

        <div class="middle flex flex-col mt-[25px] items-center">
            <p class="desc text-brown">Stack’s premier memecoin and on-chain casino.</p>
            <div class="middle-logo">
                <h2 class="text-brown anton-regular">BITCORN</h2>
                <img src="/public/images/corn-middle.svg" />
            </div>
            <div class="bottom-links flex gap-5 flex-row items-center">
                <button class="menu-coingecko flex gap-2 px-5 items-center py-3 rounded-full">
                    <span>Buy on coin gecko</span>
                    <div class="icon">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect y="-0.00494385" width="35.995" height="36.0099" rx="17.9975" fill="#7A2714"/>
                            <path d="M23.92 17.6191C23.8724 17.4964 23.801 17.3843 23.71 17.2891L18.71 12.2891C18.6168 12.1959 18.5061 12.1219 18.3842 12.0715C18.2624 12.021 18.1319 11.9951 18 11.9951C17.7337 11.9951 17.4783 12.1008 17.29 12.2891C17.1968 12.3824 17.1228 12.4931 17.0723 12.6149C17.0219 12.7367 16.9959 12.8673 16.9959 12.9991C16.9959 13.2654 17.1017 13.5208 17.29 13.7091L20.59 16.9991H13C12.7348 16.9991 12.4804 17.1045 12.2929 17.292C12.1054 17.4796 12 17.7339 12 17.9991C12 18.2644 12.1054 18.5187 12.2929 18.7063C12.4804 18.8938 12.7348 18.9991 13 18.9991H20.59L17.29 22.2891C17.1963 22.3821 17.1219 22.4927 17.0711 22.6146C17.0203 22.7364 16.9942 22.8671 16.9942 22.9991C16.9942 23.1312 17.0203 23.2619 17.0711 23.3837C17.1219 23.5056 17.1963 23.6162 17.29 23.7091C17.383 23.8029 17.4936 23.8773 17.6154 23.928C17.7373 23.9788 17.868 24.0049 18 24.0049C18.132 24.0049 18.2627 23.9788 18.3846 23.928C18.5064 23.8773 18.617 23.8029 18.71 23.7091L23.71 18.7091C23.801 18.614 23.8724 18.5019 23.92 18.3791C24.02 18.1357 24.02 17.8626 23.92 17.6191Z" fill="white"/>
                        </svg>
                    </div>
                    <div class="icon-2">
                        <img src="/public/images/right-arrow.svg" />
                    </div>
                </button>
                <div class="flex gap-6">
                    <span class="text-gray desktop">|</span>
                    <a href="#"><img src="/public/icons/discord-header.svg" /></a>
                    <a href="#"><img src="/public/icons/twitter-header.svg" /></a>
                    <a href="#"><img src="/public/icons/telegram-header.svg" /></a>
                </div>
            </div>
        </div>
    </div>
    <section class="tree-seperator">
        <div class="trees w-full"></div>
        <div class="bg-orange container w-full"></div>
    </section>
    <section class="bg-ybrown flex p-10 py-20 pb-[25ex] items-center">
        <p class="anton-regular max-w-[615px] mx-auto center welcome hightlight-text">
            Welcome Starklings! We are the meme coin of the Starknet revolution.STARKINU will also be the native
            coin on our on-chain casino! STARKINU is the cryptographic testament of defiance, a meme-powered
            subversion
        </p>
    </section>

    <div class="bitcorn-marquee">
        <!-- 1st -->
        <div class="marquee marquee-first marquee--reverse enable-animation bg-lyellow">
            <div class="marquee__content">
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span>
                    <img src="/public/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span>
                    <img src="/public/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span>
                    <img src="/public/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span>
                    <img src="/public/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span>
                    <img src="/public/icons/moving-corn.svg" />
                </div>
            </div>
            <div class="marquee__content" aria-hidden="true">
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span>
                    <img src="/public/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span>
                    <img src="/public/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span>
                    <img src="/public/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span>
                    <img src="/public/icons/moving-corn.svg" />
                </div>
                <div class="item">
                    <span class="anton-regular text-brown">BITCORN</span>
                    <img src="/public/icons/moving-corn.svg" />
                </div>
            </div>
        </div>

        <!-- 2nd -->
        <div class="marquee enable-animation marquee-2nd bg-brown">
            <div class="marquee__content">
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p>
                    <img src="/public/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p>
                    <img src="/public/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p>
                    <img src="/public/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p>
                    <img src="/public/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p>
                    <img src="/public/icons/moving-corn-2.svg" />
                </div>
            </div>
            <div class="marquee__content" aria-hidden="true">
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p>
                    <img src="/public/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p>
                    <img src="/public/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p>
                    <img src="/public/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p>
                    <img src="/public/icons/moving-corn-2.svg" />
                </div>
                <div class="item">
                    <p class="anton-regular text-lyellow">BITCORN</p>
                    <img src="/public/icons/moving-corn-2.svg" />
                </div>
            </div>
        </div>
    </div>


    <section class="social-info bg-lyellow">
        <div class="container max-w-[615px] mx-auto">
            <p class="center text-center">Stack’s premier memecoin and on-chain casino.</p>
            <h2 class="anton-regular heading text-brown mt-5">How to Buy Bitcorn?</h2>
            <div class="note-cards mt-10">
                <div class="note-card anton-regular">
                    <img class="note-card-img1" src="/public/icons/top-arrow.svg" />

                    Create a wallet on Leather.io and buy send stacks using any CEX.
                </div>
                <div class="note-card anton-regular">
                    <img class="note-card-img1" src="/public/icons/top-arrow.svg" />
                    
                    Use this official link from our website/socials to start swapping.
                </div>
                <div class="note-card anton-regular">
                    <img class="note-card-img1" src="/public/icons/top-arrow.svg" />

                    Swap $STX for $BITCORN using the DEX’s on-board routing
                </div>
            </div>
            <div class="social-cards mt-10">
                <p>
                    Join the Farm and stay tuned for all the updates. This is another line of text to be inserted
                    here,Would be great if this text will be atleast 3 lines long ->
                </p>
                <div class="social-icons">
                    <div class="sc-icon relative">
                        <img src="/public/icons/discord.svg" />
                    </div>
                    <div class="sc-icon relative">
                        <img src="/public/icons/stake.svg" />
                    </div>
                    <div class="sc-icon relative">
                        <img src="/public/icons/coingecko.svg" />
                    </div>
                    <div class="sc-icon relative">
                        <img src="/public/icons/telegram.svg" />
                    </div>
                    <div class="sc-icon relative">
                        <img src="/public/icons/x.svg" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pool-info bg-darkorange">
        <div class="container max-w-[615px] mx-auto">
            <p class="center text-center">Stack’s premier memecoin and on-chain casino.</p>
            <h2 class="anton-regular heading text-brown mt-5">$CORNOMICS</h2>
        </div>
        <div class="pool-cards mt-10">
            <div class="pool-card">
                <p class="label">Symbol</p>
                <p class="anton-regular value">$BITCORN</p>
            </div>

            <div class="pool-card">
                <p class="label">Liquidity Pool</p>
                <p class="anton-regular value">75%</p>
            </div>

            <div class="pool-card">
                <p class="label">Supply</p>
                <p class="anton-regular value">10 Billion</p>
            </div>
        </div>

        <div class="pool-cards mt-3">
            <div class="pool-card">
                <p class="label">Liquidity Pool</p>
                <p class="anton-regular value">75%</p>
            </div>

            <div class="pool-card">
                <p class="label">Supply</p>
                <p class="anton-regular value">10 Billion</p>
            </div>

            <div class="pool-card input">
                <div class="btn-ask">
                    <span>More Questions?</span>
                    <img src="/public/icons/arrow-right-top.svg" />
                </div>
                <p class="anton-regular value">10 Billion</p>
            </div>
        </div>
    </section>

    <footer class="bg-brown footer">
        <div class="container max-w-[615px] mx-auto">
            <div class="logo flex items-center gap-2">
                <img class="w-[20px]" src="/public/images/bitcorn.svg" />
                <h2 class="text-white text-[20pt] anton-regular">Bitcorn</h2>
            </div>
            <div class="links mt-4 flex flex-col md:flex-row justify-between items-start md:items-center">
                <ul class="flex justify-between items-center gap-8 text-white text-xs">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Tokenomics</a></li>
                    <li><a href="#">How to buy</a></li>
                </ul>
                <div class="flex justify-between mt-5 md:mt-0 md:items-center gap-5">
                    <a href="#"><img class="w-[20px]" src="/public/icons/f_twitter.svg" /></a>
                    <a href="#"><img class="w-[20px]" src="/public/icons/f_telegram.svg" /></a>
                    <a href="#"><img class="w-[20px]" src="/public/icons/f_discord.svg" /></a>
                </div>
            </div>
            <div class="bottom-footer mt-7 flex-col md:flex-row text-sm flex justify-between md:items-center">
                <p class="text-xs">Copyright © 2020. LogoIpsum. All rights reserved.</p>
                <div class="text-xs flex mt-5 md:mt-0 md:justify-between items-center gap-10">
                    <a href="#">Terms & Conditions</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>